.accordion-section {
    & .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 4rem;

        @include respond(phone) {
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 26px;
        }
    }

    & .accordion-item {
        border: 1px solid #EFEFEF;

        &:not(:last-child) {
            margin-bottom: 2rem;

            @include respond(mobilemini) {
              margin-bottom: 25px;
            }
        }

        & .accordion-button {
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            padding: 24px 20px;
            // max-width: 546px;

            @include respond(mobilemini) {
              padding: 2rem;
            }

            &::after {
                width: 3rem;
                height: 3rem;
                margin-left: 60px;
                border-radius: 50%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                background-image: url(../images/icons/arrow-white.svg);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center center;
                transform: rotate(0deg);

                @include respond(mobilemini) {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    margin-left: -15px;
                    right: auto;
                  }
            }
            &::before {
                content: "";
                position: absolute;
                right: 20px;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background: #A7A7A7;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

                @include respond(mobilemini) {
                    bottom: -15px;
                    left: 50%;
                    margin-left: -15px;
                    right: auto;
                  }
            }
        }
        & .accordion-button:focus {
            background-color: transparent;
            border-color: transparent;
        }
        & .accordion-button:not(.collapsed) {
            background-color: transparent;
        }
        & .accordion-button:not(.collapsed)::after {
            transform: rotate(180deg);
        }
        & .accordion-button:not(.collapsed)::before {
            background: #FBB80D;
        }

        & .accordion-body {
            color: #A7A7A7;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding: 2rem;
        }
    }
}
.accordion-flush .accordion-item:first-child {
    border-top: 1px solid #EFEFEF;
}
.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #EFEFEF;
}

// form-wrap 
.form-wrap {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #EFEFEF;
    background-color: #fff;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
}

.form-wrap.contact {
    & .form-wrap__heading {
        text-align: center;
    }
}

.form-wrap__heading {
    margin-bottom: 3rem;
    & .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 1rem;
    }

    & .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #A7A7A7;
    }
}

.form-wrap__row {
    width: 100%;
    max-width: 448px;

    & .form-wrap__field {
        background: #F5F5F5;
        padding: 25px;
        margin-bottom: 2rem;
        text-align: center;

        & input {
            background-color: transparent;
            width: 100%;
            text-align: center;
        }
        & textarea {
            background-color: transparent;
            outline: 0;
            border: 0 none;
            resize: none;
            text-align: center;
        }
    }
}

.form-wrap__btn {
    width: 100%;
    margin-bottom: 2rem;
    max-width: 448px;
    & .orange-btn {
        max-width: 100%;
    }
}

.form-wrap__checkboxes {
    width: 100%;
    max-width: 448px;
}

.form-wrap__checkboxes-row {
    & .form-wrap__checkbox-wrap {
        display: flex;
        align-items: center;

        & input {
            margin-right: 1rem;
        }
    }
    & .form-wrap__checkbox-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        & a {
            color: #FBB80D;
            text-decoration: underline;
        }
    }
}

// contact-type 

.contact-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(desktop) {
      margin-bottom: -2rem;
      margin-right: -2rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond(phone) {
      margin-right: 0;
    }

    & .contact-type__item {
        display: flex;
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);

        @include respond(desktop) {
            flex: 0 0 calc((100% - 2*30px) / 2);
            max-width: calc((100% - 2*30px) / 2);
            margin-bottom: 2rem;
            margin-right: 2rem;
            justify-content: center;
        }

        @include respond(phone) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
        }
        & img {
            margin-right: 3rem;
        }

        & a {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            max-width: 328px;
            width: 100%;
            display: block;
        }
    }
}

/// contact-form 

.contact-form__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 3rem;

    @include respond(mobilemini) {
      text-align: center;
    }
}

.contact-form__wrapper:not(:last-child) {
    margin-bottom: 3rem;
}

.contact-form__field {
    position: relative;
    & .form-control {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    & .upload-btn {
        background: #7F7F7F;
        color: #FBB80D;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        min-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 208px;
    }
}

.contact-form__field.max-width {
    max-width: 208px;

    @include respond(mobilemini) {
      margin-right: auto;
      margin-left: auto;
    }
}

.contacts__checkbox-wrap input {
    display: none;
}
.contacts__field-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3rem;

    @include respond(mobilemini) {
      text-align: center;
    }
}
.contacts__checkboxes-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -2rem;
    margin-right: -4rem;
    // justify-content: space-between;

    @include respond(mobilemini) {
      flex-direction: column;
      text-align: center;
      margin-right: 0;
    }
    & .contacts__checkbox-wrap {
        margin-right: 4rem;
        
        @include respond(mobilemini) {
          margin-right: 0;
          width: 100%;
        }
        & .contacts__checkbox-mask {
            transition: all 0.3s;
            &:hover {
                background: #7F7F7F;
                color: #FFFFFF;
            }
        }
        
    }
    & .contacts__checkbox-mask {
        border: 1px solid #000000;
        height: 4rem;
        padding: 1rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: block;
        min-width: 239px;
        margin-bottom: 2rem;
        letter-spacing: -0.5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.contacts__checkbox-wrap input:checked+.contacts__checkbox-mask {
    background: #7F7F7F;
    color: #FFFFFF;
    border-color: transparent;
}

.form-wrap__row.contact-form__wrapper {
    display: flex;
    align-items: center;
    max-width: 797px;
    width: 100%;

    @include respond(mobilemini) {
      flex-direction: column;
    }

    & .form-wrap__field {
        margin-bottom: 0;
        padding: 15px 25px;
        height: 5rem;
        margin-right: 3rem;
        min-width: 208px;

        @include respond(mobilemini) {
          margin-right: 0;
          margin-bottom: 2rem;
          width: 100%;
        }
    }

    & .form-wrap__btn {
        margin-bottom: 0rem;
        
        @include respond(mobilemini) {
          max-width: 100%;
        }
    }
}

.section-page.contact-map {
    display: flex;

    & .container {
        @include respond(desktop) {
          margin-top: 3rem;
        }
    }

    @include respond(desktop) {
      flex-direction: column-reverse;

      & .site-map {
          & .ymaps {
              width: 100%;
          }
      }
    }
}