.header-page {
    padding: 5px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 16%;
        width: 0;
        height: 100%;
        border-top: 130px solid #FFFFFF;
        border-left: 0 solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;

        @include respond(lgdsf) {
          left: 16%;
          display: none;
        }
    }
    &::after {
        content: '';
        position: absolute;
        background: #7F7F7F;
        height: 100%;
        width: 84%;
        top: 0;
        right: 0;
        z-index: -1;

        @include respond(lgdsf) {
            width: 84%;
            display: none;
        }
    }
}

@media (min-width: 1600px) {
    .header-page {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 23.5%;
            width: 0;
            height: 100%;
            border-top: 130px solid #FFFFFF;
            border-left: 0 solid transparent;
            border-right: 40px solid transparent;
            border-bottom: 40px solid transparent;
    
            @include respond(lgdsf) {
              left: 16%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            background: #7F7F7F;
            height: 100%;
            width: 76.5%;
            top: 0;
            right: 0;
            z-index: -1;
    
            @include respond(lgdsf) {
                width: 84%;
            }
        }
    }
}

.header-page__inner,
.header-page__menu {
    display: flex;
    align-items: center;
}
.header-page__inner {
    @include respond(lgdsf) {
      justify-content: space-between;
    }
}

.header-page__logo {
    display: block;
    margin-right: 3rem;
    width: 147px;
    height: 120px;
    flex-shrink: 0;

    & img {
        max-width: 100%;
        max-height: 100%;
    }
}

.header-page__menu {
    padding-left: 87px;
    
    & .menu-item {
        position: relative;
        padding: 0 25px;
        transition: all 0.3s;

        &.active {
            & .menu-item__link  {
                color: #FBB80D;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            background: #FFFFFF;
            height: 1px;
            width: 100%;
            bottom: -20px;
            opacity: 0;
        }

        &:hover .menu-item__link {
            color: #FBB80D;
        }

        & .menu-item__link {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            white-space: nowrap;
        }
        & .menu-item__link.btn {
            background: #FBB80D;
            border-radius: 0px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            height: 7rem;
            padding: 0 35px;
            color: #000000;
            white-space: nowrap;
            display: flex;
            align-items: center;
            transition: all 0.3s;

            &:hover {
                background: #000000;
                color: #FFFFFF;
            }
        }
    }
    .menu-item.active {
        &::after {
            opacity: 1;
        }
    }
    // & .menu-item:not(:last-child) {
    //     margin-right: 5rem;
    // }
}
.header-page__menu {
    @include respond(lgdsf) {
      display: none;
    }
}

.header-page__hamburger {
    display: none;

    &:hover {
        cursor: pointer;
    }

    @include respond(lgdsf) {
        background: #7F7F7F;
        border-radius: 10px;
        width: 6rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      & .icon-hamburger {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16px;
        position: relative;

        & span {
            display: block;
            margin-right: auto;
            margin-left: auto;
            height: 2px;
            background-color: #fff;
            width: 30px;
            border-radius: 1px;
            transition: transform .2s ease-in,top .2s linear .3s;
        }
        & span:nth-child(2) {
            width: 20px;
        }
      }

      &.active {
        & .icon-hamburger {
            & span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -16px;
            }
            & span:first-child {
                transform: rotate(-45deg);
                // transition: top .1s linear,transform .2s ease-in .2s;
            }
            & span:last-child {
                transform: rotate(45deg);
                // transition: top .1s linear,transform .2s ease-in .2s;
            }
            & span:nth-child(2) {
                display: none;
            }
        }
      }
    }
}

// mobile

.mobile-device {
    position: absolute;
    background: #FFFFFF;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    padding: 2rem;
    background-color: #fff;
    transform: translateY(3rem);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    width: 100%;
    flex-shrink: 0;
    z-index: 100;

    & .mobile-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    & .mobile-menu__item {
        margin-bottom: 3rem;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        line-height: 20px;

        & a {
            color: inherit;
        }
    }

    & .mobile-device__content {
        & .white-btn {
            padding-right: 24px;
            padding-left: 24px;
            white-space: nowrap;
            margin-bottom: 3rem;
        }

        & .social {
            margin-bottom: 3rem;
            align-items: center;
            justify-content: center;
            & .social__item {
                &:first-child {
                    margin-right: 3rem;
                }
            }
        }

        & .number {
            color: #000000;
            margin-bottom: 3rem;
            display: block;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }
    }
}
.mobile-device.active {
    opacity: 1;
    transform: translateY(1rem);
    pointer-events: auto;
}