.section-page.slider {
  background-image: url(../images/img/hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  padding-bottom: 5rem;
}

.slider.swiper {
    width: 100%;
    height: 100%;
}
.slider__inner {
    padding-left: 7rem;
    padding-right: 7rem;

    @include respond(tabdesk) {
      padding-right: 0;
      padding-left: 0;
    }
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40rem;

  & .col-12:first-child {
    margin-right: 7rem;
    max-width: 60rem;

    @include respond(desktop) {
      max-width: 100%;
      margin-right: 0;
    }

    @include respond(tabdesk) {
      text-align: center;
    }
  }
  & .col-12:last-child {
    @include respond(tabdesk) {
      display: none;
    }
  }

}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #FBB80D;
}

.swiper-pagination {
    position: relative;

    & .swiper-pagination-bullet {
        border: 1px solid #878787;
        background-color: transparent;
        margin-right: 1rem;
    }
    & .swiper-pagination-bullet-active {
        background-color: #ffffff;
        border-color: #ffffff;
    }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  @include respond(phone) {
    top: 95%;
  }
}

.swiper-button-next {
  @include respond(mobilemini) {
    right: 30%;
  }
}
.swiper-button-prev {
  @include respond(mobilemini) {
    left: 30%;
  }
}

.slider__item-heading {
  margin-bottom: 5rem;
  color: #ffffff;

  @include respond(tabdesk) {
    margin-bottom: 1rem;
  }

  & .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;

    & span {
      font-weight: 400;
      display: contents;

      @include respond(tabdesk) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    @include respond(tabdesk) {
      font-size: 18px;
      line-height: 22px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
    }
  }
  & .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 423px;
    display: block;

    @include respond(tabdesk) {
      margin: 0 auto;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.slider__item-btns {
  display: flex;
  align-items: center;

  @include respond(tabdesk) {
    flex-direction: column;
    width: 100%;
  }
  & .btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 209px;
    transition: all 0.3s;

    @include respond(phone) {
      max-width: 100%;
    }

    &:hover {
      background-color: #000;
      color: #ffffff;
    }
  }
  & .btn:first-child {
    border: 1px solid #ffffff;
    margin-right: 3rem;

    @include respond(tabdesk) {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &:hover {
      border-color: transparent;
    }
  }
  & .btn:last-child {
    background: #fbb80d;
      &:hover {
        background-color: #000;
        color: #ffffff;
      }
  }
}
